asgiref==3.2.7
DAWG-Python==0.7.2
Django==3.0.6
docopt==0.6.2
entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pytz==2020.1
sqlparse==0.3.1
